.form-container{
	width:70%; margin-left:auto; margin-right:auto; padding:20, 0, 10, 10;
}
.mainCol{
	margin-top:5px; 
	margin-left:5%;

}
.mainColHead{
	background-color:rgba(240,248,255,0.25); 
	margin-top:5px; 
	margin-left:5%;
	border:2px solid black;
	border-radius:25px;	
	padding: 10px;
}
.mainColBody{
	background-color:rgba(240,248,255,0.25); 
	margin-top:5px; 
	margin-left:5%;
	border:2px solid black;
	border-radius:25px;	
	padding: 20px;
}
.linkedIn{
	background-color:#007bb6;
	margin-top:5px;
	margin-bottom:5px;
}
.google{
	background-color:#dd4b39;
	margin-top:5px;
	margin-bottom:5px;
}
.twitter{
	background-color:#00aced;
	margin-top:5px;
	margin-bottom:5px;
}
.facebook{
	background-color:#3B5998;
	margin-top:5px;
	margin-bottom:5px;
}
.ubm{
	background-color: #767F94;
	margin-top:5px;
	margin-bottom:5px;
}