#header {
	text-align:center;
	vertical-align:middle;
}
.GS { 
	text-align:center;
	font-size:1.8em;
}
.continue_button {
	text-align:center;
}
.reference {
	text-align:right;
}
#submit_button {
	text-align:center;
}
