<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.universalbusinessmodel.app"
    version     = "1.0.0"
    versionCode = "10"
    xmlns:cdv="http://cordova.apache.org/ns/1.0" >
    
    <!-- versionCode is optional and Android only -->
    
    <preference name="phonegap-version" value="3.1.0" />
    
    <name>ubm</name>
    
    <description>
        A profound application for everyone and everything.
    </description>
    
    <author href="http://www.findmydriver.com" email="support@findmydriver.com">
        Jesse Spencer
    </author>
    
    <access origin="*" />
    <gap:plugin name="org.apache.cordova.geolocation" version="0.3.2" />
    <gap:plugin name="org.apache.cordova.camera" version="0.2.3" />
    <gap:plugin name="org.apache.cordova.device" version="0.2.3" />
    <gap:plugin name="org.apache.cordova.file" version="0.2.3" />
    <gap:plugin name="org.apache.cordova.media" version="0.2.3" /> -->
</widget>